#dashboard-stats.panel
  %article
    %a(href="#" class="thumbnail" style="float:left;margin-right:8px;")
      %img{"src"=>"http://flickholdr.com/50/50/face/#{user.id}", "alt"=>"#{user.full_name}"}
  
    %div
      -if me?  
        %b= link_to user.full_name, user_path(user)
        %p View my profile
      - else
        %b= user.full_name

    .clearfix
    
    = render :partial => "users/stats", :locals => {:user => user}

    -unless me?
      -if(subscription.new_record?)
        = form_for subscription do |f| 
          = f.text_field :subscriber_id, :type => 'hidden', :value => current_user.id
          = f.text_field :subscribee_id, :type => 'hidden', :value => user.id
          = f.submit :value => "Subscribe", :class => "btn btn-primary"
      - else
        = form_for subscription, :method => :delete do |f| 
          = f.text_field :subscriber_id, :type => 'hidden', :value => current_user.id
          = f.text_field :subscribee_id, :type => 'hidden', :value => user.id
          = f.submit :value => "Unsubscribe", :class => "btn btn-primary"
