.span12.panel(style="padding:10px")
  .span1
    %a(href="#" class="thumbnail")
      %img{"src"=>"http://flickholdr.com/50/50/face/#{user.id}", "alt"=>"#{user.full_name}"}    
  .span10
    .span4
      %h2= link_to user.full_name, user_path(user)
    .span3
      = render :partial => "users/stats", :locals => {:user => user}
    .span2
      -if not current_user.blank?
        -unless user_is_me? user.id
          -if(subscribed_to_user? user.id)
            = form_for subscription do |f| 
              = f.text_field :subscriber_id, :type => 'hidden', :value => current_user.id
              = f.text_field :subscribee_id, :type => 'hidden', :value => user.id
              = f.submit :value => "Subscribe", :class => "btn btn-primary"
          - else
            = form_for subscription, :method => :delete do |f| 
              = f.text_field :subscriber_id, :type => 'hidden', :value => current_user.id
              = f.text_field :subscribee_id, :type => 'hidden', :value => user.id
              = f.submit :value => "Unsubscribe", :class => "btn btn-primary"
      -else
        .form(class="pull-right")
          = link_to "Subscribe", new_user_registration_path, :class => 'btn btn-primary' 
